@import "tailwindcss";

:root {
--main-padding:15px;

}


body {
background-color: #f1f1f185;
  font-family: Arial, Helvetica, sans-serif;
}

.title{
  font-size:20px;
  font-weight:800;
  line-height: 42px;
}